/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    vertical-align: bottom;
}

.card p {
    font-size: 14px;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
.h1-property {
    font-size: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-right: 50px;
}

.header-logo {
    display: flex;
    padding: 30px 50px;
}

.header-logo img {
    height: 19px;
}

.navbar {
    font-size: 16px;
    font-weight: 400;
    width: 244px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar a {
    display: flex;
    padding-top: 16px;
    border-top: 2px solid transparent;
}

.navbar a:hover {
    border-top: 2px solid var(--main-color);
}

.navbar a:active {
    color: var(--main-color);
    
}

/****** Main ***********/
.main-container {
    padding: 0 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.main-container h2 {
    font-size: 22px;
    font-weight: 700;
}

/****** Form Hebergement Finder ***********/
.form-hebergementFinder {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.form-title {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.form-search {
    display: flex;
}

.searchbar {
    display: flex;
    height: 49px;
    outline: 1px solid var(--main-bg-color);
    border-radius: 15px;
    align-items: center;
    column-gap: 24px;
}

.btn-position {
    display: flex;
    background-color: var(--main-bg-color);
    outline: 1px solid var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.btn-position .fa-solid {
    color: black;
}

.search-field {
    border: none;
    width: 149px;
}

.search-field::placeholder {
    color: black;
    font-size: 18px;
    font-weight: 700;
    overflow: visible;
}

.btn-search {
    background-color: var(--main-color);
    outline: 1px solid var(--main-bg-color);
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-desktop {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 16px;
}

.search-mobile {
    display: none;
}

.search-filter {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.filter-title {
    font-size: 18px;
    font-weight: 700;
}

.btn-filter-container {
    display: flex;
    column-gap: 15px;
}

.btn-filter {
    display: flex;
    font-size: 17px;
    font-weight: 700;
    border-radius: 25px;
    background: #FFF;
    padding: 4px 19px;
    border: 2px solid #D9D9D9;
    column-gap: 10px;
    height:50px;
    align-items: center;
}

.btn-filter .fa-solid {
    width: 22px;
}

.btn-filter:hover {
    background-color: var(--filter-bg-color);
}

.btn-info {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    background-color: white;
    line-height: 24px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.33% - 30px);
}

.hebergements-cards img {
    height: 114px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 6px;
}

.btn-more {
    font-size: 18px;
    font-weight: 700;
    border: none;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 30px;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards .card a {
    display: flex;
    width: 100%;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    padding: 30px;
    row-gap: 30px;
}

.activites-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    flex-direction: row;
}

.activites-cards .card {
    flex-basis: calc(25% - 30px);
    padding: 0;
    flex-grow: 1;
}

.activites-cards img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    padding: 20px 19px;
}

/****** Footer ***********/
.footer-container {

    display: flex;
    padding: 0 50px;
}

.footer-infos {
    display: flex;
    width: 100%;
    background-color: var(--main-bg-color);
}

.footer-content {
    width: 33.3%;
    padding: 20px;
}

.footer-content li {
    font-size: 16px;
    margin-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Form Hebergement Finder ***********/
    .search-filter {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }

    /****** Hebergements et Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column;
        row-gap: 50px;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 100%;
    }

    /****** Populaires ***********/
    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    .populaires-cards .card {
        flex-basis: calc(33.33% - 20px);
    }

    /****** Activites ***********/
    .activites-cards img {
        height: 200px;
    }

    .activites-cards .card-content {
        min-height: 30px;
    }

    /****** Footer ***********/
    .footer-infos {
        column-gap: 30px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {

    /****** Header ***********/
    .header-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .navbar {
        width: 100%;
        align-items: baseline;
    }

    .navbar a {
        padding-top: 0;
        padding-bottom: 15px;
        flex: 1;
        justify-content: center;
        border-bottom: 2px solid #F2F2F2;
    }

    .navbar a:hover {
        border-bottom: 2px solid var(--main-color);
        border-top: none;
    }

    /****** Main ***********/
    .main-container {
        padding: 0;
    }

    /****** Form Hebergement Finder ***********/
    .form-hebergementFinder {
        padding-left: 20px;
        padding-right: 20px;
    }

    .search-desktop {
        display: none;
    }

    .search-mobile {
        display: block;
        width: 50px;
        padding: 0;
        border-radius: 15px;
        border-style: none;
    }

    .search-mobile .fa-solid {
        color: white;
    }

    .btn-filter-container {
        width: 100%;
        column-gap: 10px;
        row-gap: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .btn-filter {
        flex-basis: calc( 50% - 10px);
        flex-grow: 1;
    }

    /****** Hebergements et Populaires ***********/
    .hebergements-and-populaires {
        row-gap: 15px;
    }

    /****** Populaires ***********/
    .populaires {
        border-radius: 0;
        order: 1;
        margin-top: 0;
        padding : 20px
    }

    .populaires-cards {
        flex-direction: column;
        row-gap: 15px;
        margin-top: 15px;
    }

    /****** Hebergements ***********/
    .hebergements {
        border-radius: 0;
        order: 2;
        background-color: #FFF !important;
        padding: 30px 20px;
    }

    .hebergements-cards {
        flex-direction: column;
        row-gap: 15px;
        margin-top: 15px;
    }

    .btn-more {
        background-color: white;
        text-align: left;
    }

    /****** Activites ***********/
    .activites-cards {
        flex-direction: column;
        row-gap: 15px;
        margin-top: 15px;
    }

    .activites-cards img {
        height: 141px;
    }

    .activites-cards .card-content {
        height: initial;
    }

    /****** Footer ***********/
    .footer-container {
        padding: 0;
    }

    .footer-infos {
        flex-direction: column;
        padding: 30px;
        row-gap: 50px;
    }

    .footer-content {
        padding: 0;
        width: 100%;
    }
}